/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 72% auto; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #ffffff; }

  .short-news-top {
    margin-top: 20px;
    margin-left: 20px; }
    .short-news-top .short-news-item {
      margin-bottom: 10px;
      width: 300px;
      height: 60px;
      display: grid;
      grid-template-columns: 60px auto; }
      .short-news-top .short-news-item .short-news-item-timetag {
        background-color: #a6196f; }
        .short-news-top .short-news-item .short-news-item-timetag .wrap-item-timetag {
          margin: 12px 7px; }
          .short-news-top .short-news-item .short-news-item-timetag .wrap-item-timetag p {
            color: #ffffff; }
      .short-news-top .short-news-item .short-news-item-content-wrap {
        heigth: 100%;
        width: 100%;
        background-color: #fff;
        padding-right: 5px; }
      .short-news-top .short-news-item .short-news-item-content {
        padding-left: 20px;
        height: 30.7px;
        overflow: hidden;
        display: block; } }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100% 0; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; }

  .short-news-top {
    display: none; } }
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100% 0; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; }

  .short-news-top {
    display: none; } }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100% 0; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; }

  .short-news-top {
    display: none; } }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100% 0; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; }

  .short-news-top {
    display: none; } }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .cover-baner {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 100% 0; }

  .banner-01 {
    width: 100%;
    height: 100%; }

  .new_elements_first {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6; }

  .short-news-top {
    display: none; } }

/*# sourceMappingURL=banner_01.css.map */
